<div class="container customer-home-body-container">

    <h1 class="cust-name" user-info="{{customer.userid}}" id="name-of-customer">Welcome {{customer.name}}</h1>

{{!-- Accepted Events Row Starts --}}
  <div class="row view-events-row" id="row1">
    <div class="col-12-lg view-events-col">
      <div class="card">
        <div class="table-responsive">
          <table class="table view-table text-align" id="">
            <h4 id="accept-h4">Accepted Jobs:</h4>
            <thead class="thead-light">
              <tr>
                <th>EVENT</th>
                <th>LOCATION</th>
                <th>OCCASION</th>
                <th>SIZE</th>
                <th></th>
              </tr>
            </thead>

            <tbody>
              {{#each accepted.events}}
              <tr>
                <td> {{ this.name }} </td>
                <td> {{ this.city }}, {{ this.state }} </td>
                <td> {{ this.occasion }} </td>
                <td> {{ this.size }} </td>
                <td> <button class="btn btn-primary moreInfoBtn" data-id="{{this.eventid}}"> More
                    Info </button></td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  {{!-- Pending Vendors Events Row Starts --}}
  <div class="row view-events-row" id="row2">
    <div class="col-12-lg view-events-col">
      <div class="card">
        <div class="table-responsive">
          <table class="table events-table text-align" id="">
            <h4 id="accept-h4">Vendor Offer:</h4>
            <thead class="thead-light">
              <tr>
                <th>EVENT</th>
                <th>LOCATION</th>
                <th>OCCASION</th>
                <th>SIZE</th>
                <th></th>
                <th></th>
                <th></th>
              </tr>
            </thead>

            <tbody>
              {{#each vendor.vendor}}
              <tr>
                <td> {{ this.name }} </td>
                <td> {{ this.city }}, {{ this.state }} </td>
                <td> {{ this.occasion }} </td>
                <td> {{ this.size }} </td>
                <td> <button class="btn btn-primary vendorInfo" data-id="{{this.vendorid}}"> Vendor Profile
                     </button></td>
                <td> <button class="btn btn-primary acceptBtn" data-id="{{this.eventid}}"> Accept
                     </button></td>
                <td><button class="btn btn-primary declineBtn" data-id="{{this.eventid}}"> Decline
                     </button></td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
    <!-- CUSTOMER VIEW JOBS ROW -->
    <div class="row view-events-row" id="row3">
        <div class="col-12-lg view-events-col">
            <div class="card">
                <div class="table-responsive ">
                    <table class="table events-table " id="madeEventTable">
                        <h4 id="accept-h4"> Your Events: </h4>
                        <thead class="thead-light">
                            <tr>
                                <th>EVENT</th>
                                <th>PHONE</th>
                                <th>LOCATION</th>
                                <th>OCCASION</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody class="text-left">
                            {{#each customer.customer}}
                            <tr>
                                <td>{{this.name}}</td>
                                <td>{{this.phone}}</td>
                                <td>{{this.city}}, {{state}} </td>
                                <td>{{this.occasion}}</td>
                                <td><button class="editBtn btn btn-primary" event-id="{{ this.eventid }}">Edit</button></td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    

    <!-- CUSTOMER ADD NEW EVENT BUTTON-ROW  -->
    <div class="row justify-content-md-center add-event-row" id="btn-row">
        <div class="col col-lg-2 add-event-col">
            <a href="/event/create/{{customer.userid}}">
                <button href="/event/create/{{customer.userid}}" id="submit"
                    class="btn btn-outline-light custuser create-new-event">Create New Event</button>
            </a>
        </div>

        <div class="col-md-auto">
        </div>

        <div class="col col-lg-2">
            <a href="/logout">
                <button id="cookie" href="/logout" class="btn btn-outline-light custuser">Log Out</button>
            </a>
        </div>
    </div>


</div>
  
    {{!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script> --}}

<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="/js/customer-home.js"></script>