

<div class="container customer-home-body-container">

    <h1 class="cust-name" id="name-of-customer">Welcome {{name}}</h1>

    <!-- CUSTOMER VIEW JOBS ROW -->
    <div class="row view-job-row">
        <div class="col-12-lg view-job-col">
            <table id="madeEventTable">
                        <thead>
                            <tr>
                                <th>USER ID</th>
                                <th>PHONE</th> 
                                <th>CITY</th>
                                <th>STATE</th>
                                <th>OCCASION</th>
                                <th>SIZE</th>
                            </tr>
                        </thead>
                        <tbody>
                         {{#each customer}}
                            <tr>
                                <td>{{userid}}</td>
                                <td>{{phone}}</td> 
                                <td>{{city}}</td>
                                <td>{{state}}</td>
                                <td>{{occasion}}</td>
                                <td>{{size}}</td>                            
                            </tr>
                        {{/each}}
                        </tbody>                        
                    </table>
        </div>
    </div>

    <!-- CUSTOMER ADD NEW EVENT BUTTON-ROW  -->
    <div class="row add-event-row">
        <div class="col-12-lg add-event-col">
            <a href="/event/create/{{userid}}"><button id="submit" class="custuser create-new-event">Create New Event</button></a>
            <a href="/logout"><button id="cookie" class="custuser" onclick="" >Log Out</button></a>
        </div>
    </div>

<style>
    #madeEventTable{
  font-family: 'Kalam', cursive;
  color:black;
  text-align: center;
  width: 100%;
}

.custuser{
    background-color: #132149;
    width: 235px;
    margin: 10px;
    border-radius: 10px;
}
.custuser:hover{
    background-color: black;
        width: 245px;
        color: white;
}
</style>
<script>
    function deleteCookie() {
    var cookies = document.cookie.split("; ");
    for (var c = 0; c < cookies.length; c++) {
        var d = window.location.hostname.split(".");
        while (d.length > 0) {
            var cookieBase = encodeURIComponent(cookies[c].split(";")[0].split("=")[0]) + '=; expires=Thu, 01-Jan-1970 00:00:01 GMT; domain=' + d.join('.') + ' ;path=';
            var p = location.pathname.split('/');
            document.cookie = cookieBase + '/';
            while (p.length > 0) {
                document.cookie = cookieBase + p.join('/');
                p.pop();
            };
            d.shift();
        }
    }
};
</script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    {{!-- <script src="/js/create.js"></script> --}}