<div class="container" id="event-container">
    <div class="row justify-content-center">
        <div class="col-lg-12">

            <!-- Image/Top of the Card -->
            <div class="card bg-light">
                <img src="/images/event-page/party.png" class="card-img" alt="...">
                <div class="card-img-overlay text-center">
                    <h6 class="card-text">{{ event.date }}</h6>
                    <br>
                    <h1 class="card-title">{{ event.name }}</h1>
                </div>

                <!-- First Row of the Card -->
                <div class="card-body" id="event-slice-body">
                    <div class="slice-row row justify-content-center">
                        <div class="col-sm-3 slice-col text-center">
                            <i class="fas fa-map-marker-alt fa-lg float-left"></i>
                            <h4 class="float-left">{{ event.city }}, {{ event.state }}</h4>
                        </div>
                        <div class=" col-sm-3 slice-col text-center">
                            <i class="fas fa-user-friends fa-lg float-left"></i>
                            <h4 class="float-left">{{ event.size }} People</h4>
                        </div>
                        <div class=" col-sm-3 slice-col text-center">
                            <i class="fas fa-utensils fa-lg float-left"></i>
                            <h4 class="float-left">{{ event.courses }} Courses</h4>
                        </div>
                    </div>
                </div>

                <!-- Second Row of the Card -->
                <div class="card-body" id="event-main-body">
                    <div class="row" id="event-main-row">
                        <div class="col-md-8" id="event-main-col">
                            <h4 class="card-title">Customer Name: </h4>
                            <p class="card-text">Special Considerations: {{ event.consideration }}</p>
                            <p class="card-text">Comments: {{ event.comments }}</p>
                        </div>
                    </div>
                    <div class="row justify-content-center" id="event-blocks-row">
                        <div class="col-md-2 event-blocks">
                            <h5> Occasion: </h5>
                            <p>{{ event.occasion }}</p>
                        </div>
                        <div class="col-md-2 event-blocks">
                            <h5>Date: </h5>
                            <p>{{ event.date }}</p>
                        </div>
                        <div class="col-md-2 event-blocks">
                            <h5>Alcohol: </h5>
                            <p>{{ event.alcohol }}</p>
                        </div>
                        <div class="col-md-2 event-blocks">
                            <h5>Decor: </h5>
                            <p>{{ event.decor }}</p>
                        </div>
                    </div>
                    <div class="row justify-content-center btn-row">
                        <div class="col-lg-9">
                            {{!-- {{#unless event.vendorid}} --}}
                            <button href="/customer" type="button" class="btn btn-primary btn-lg" id="homeCustomer">Back home</button>
                            
                            {{!-- <button type="button" id="homeBtn" class="btn btn-lg btn-primary"> Home </button>
                            <div class="padding-div"></div>
                            <button type="button" id="acceptBtn" class="btn btn-lg btn-primary"> Accept </button> --}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- CUSTOMER ADD NEW EVENT BUTTON-ROW  -->
    <div class="container">
        <div class="row">
            
            <div class="col-lg-3"></div>
            <div class="col-lg-2"></div>
            
            <div class="col-lg-4">
                
                    <button href="/customer" type="button" class="btn btn-primary btn-lg" id="homeCustomer">Back home</button>

            </div>
            
            <div class="col-lg-3"></div>
        </div>
    </div>

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/js/event.js"></script>

