<!-- First Container -->
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container customer-home-body-container">
<div class="container-fluid">

    <div class="container-fluid bg-1 text-center">
    <h3 class="margin">Who Am I?</h3>
    <img src="{{vendorInfo.userphoto}}" class="img-responsive img-circle margin" style="display:inline" alt="Bird" width="350" height="350">
    <h3>{{vendorInfo.name}}</h3>
    </div>

    <!-- Second Container -->
    <div class="container-fluid bg-2 text-center">
    <h3 class="margin">About me!</h3>
    <p>{{vendorInfo.aboutme}}</p>
    <br>
    <h2>My number</h2>
    <p>{{vendorInfo.phone}}</p>
    </div>

    <!-- Third Container (Grid) -->
    <div class="container-fluid bg-3 text-center">    
    <h3 class="margin">My Foods!</h3><br>
    <div class="row">
        <div class="col-sm-4">
        <img src="{{vendorInfo.photo1}}" class="img-responsive margin" style="width:100%" alt="Image">
        </div>
        <div class="col-sm-4"> 
        <img src="{{vendorInfo.photo2}}" class="img-responsive margin" style="width:100%" alt="Image">
        </div>
        <div class="col-sm-4"> 
        <img src="{{vendorInfo.photo3}}" class="img-responsive margin" style="width:100%" alt="Image">
        </div>
    </div>
    
    </div>
    <div class="row justify-content-md-center add-event-row" id="btn-row">
        <div class="col col-lg-2 add-event-col">
          <br>
            <a href="/customer">
                <button  id="submit"
                    class="btn btn-outline-light custuser create-new-event">Back Home</button>
            </a>
        </div>

</div>
</div>
<style>
  body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
  }
  p {font-size: 16px;}
  .margin {margin-bottom: 45px;}
  .bg-1 { 
    background-color: #1abc9c; /* Green */
    color: #ffffff;
  }
  .bg-2 { 
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
  }
  .bg-3 { 
    background-color: #ffffff; /* White */
    color: #555555;
  }
  .bg-4 { 
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
  }
  .container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
  }
  .navbar-nav  li a:hover {
    color: #1abc9c !important;
  }
  </style>