<div class="container vendorHome-container">
  <h3 id="vendorTitle" class="vendorInfo" vendor-id="{{vendorInfo.vendor.vendorid}}">{{ vendorInfo.vendor.name }}'s
    Homepage</h3>

  {{!-- Accepted Events Row Starts --}}
  <div class="row view-events-row" id="row1">
    <div class="col-12-lg view-events-col">
      <div class="card">
        <div class="table-responsive">
          <table class="table vendor-home-table text-align" id="">
            <h4 id="accept-h4">Accepted Jobs:</h4>
            <thead class="thead-light">
              <tr>
                <th>EVENT</th>
                <th>LOCATION</th>
                <th>OCCASION</th>
                <th>SIZE</th>
                <th></th>
              </tr>
            </thead>

            <tbody>
              {{#each accepted.events}}
              <tr>
                <td> {{ this.name }} </td>
                <td> {{ this.city }}, {{ this.state }} </td>
                <td> {{ this.occasion }} </td>
                <td> {{ this.size }} </td>
                <td> <button class="btn btn-primary moreInfoBtn" data-id="{{this.eventid}}"> More
                    Info </button></td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  {{!-- Pending Events Row Starts --}}
  <div class="row view-events-row" id="row1">
    <div class="col-12-lg view-events-col">
      <div class="card">
        <div class="table-responsive">
          <table class="table vendor-home-table text-align" id="">
            <h4 id="accept-h4">Pending Jobs:</h4>
            <thead class="thead-light">
              <tr>
                <th>EVENT</th>
                <th>LOCATION</th>
                <th>OCCASION</th>
                <th>SIZE</th>
                <th></th>
              </tr>
            </thead>

            <tbody>
              {{#each pending.pendingCurrent}}
              <tr>
                <td> {{ this.name }} </td>
                <td> {{ this.city }}, {{ this.state }} </td>
                <td> {{ this.occasion }} </td>
                <td> {{ this.size }} </td>
                <td> <button class="btn btn-primary moreInfoBtn" data-id="{{this.eventid}}"> More
                    Info </button></td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  {{!-- Available Events Row Starts --}}
  <div class="row view-events-row">
    <div class="col-12-lg view-events-col" id="row2">
      <div class="card">
        <div class="table-responsive">
          <table class="table vendor-home-table" id="">
            <h4 id="avail-h4">Available Jobs:</h4>

            {{!-- <div id="vendor-search-form"> --}}
            <!-- Search form -->
            <form class="form-inline" id="">
              <div class="form-group vendor-search-form">
                <select class="custom-select" id="category">
                  <option selected value="">Search by</option>
                  <option value="size">size</option>
                  <option value="state">state</option>
                </select>
              </div>

              <a href="/vendor/{{vendorInfo.vendor.vendorid}}"><button id="resetSearch" 
                class="btn btn-primary float-right">Reset</button></a>

              <div class="form-group vendor-search-form" id="size">
                <select class="custom-select" id="categorysize">
                  <option selected value="">Search by size</option>
                  <option value="10">Less than 10</option>
                  <option value="50">Less than 50</option>
                  <option value="150">Less than 150</option>
                </select>
              </div>
              <div class="form-group vendor-search-form" id="state">
                <select class="custom-select" id="categorystate">
                  <option selected value="">Search by state</option>
                  <option value="AL">Alabama</option>
                  <option value="AK">Alaska</option>
                  <option value="AZ">Arizona</option>
                  <option value="AR">Arkansas</option>
                  <option value="CA">California</option>
                  <option value="CO">Colorado</option>
                  <option value="CT">Connecticut</option>
                  <option value="DE">Delaware</option>
                  <option value="DC">District Of Columbia</option>
                  <option value="FL">Florida</option>
                  <option value="GA">Georgia</option>
                  <option value="HI">Hawaii</option>
                  <option value="ID">Idaho</option>
                  <option value="IL">Illinois</option>
                  <option value="IN">Indiana</option>
                  <option value="IA">Iowa</option>
                  <option value="KS">Kansas</option>
                  <option value="KY">Kentucky</option>
                  <option value="LA">Louisiana</option>
                  <option value="ME">Maine</option>
                  <option value="MD">Maryland</option>
                  <option value="MA">Massachusetts</option>
                  <option value="MI">Michigan</option>
                  <option value="MN">Minnesota</option>
                  <option value="MS">Mississippi</option>
                  <option value="MO">Missouri</option>
                  <option value="MT">Montana</option>
                  <option value="NE">Nebraska</option>
                  <option value="NV">Nevada</option>
                  <option value="NH">New Hampshire</option>
                  <option value="NJ">New Jersey</option>
                  <option value="NM">New Mexico</option>
                  <option value="NY">New York</option>
                  <option value="NC">North Carolina</option>
                  <option value="ND">North Dakota</option>
                  <option value="OH">Ohio</option>
                  <option value="OK">Oklahoma</option>
                  <option value="OR">Oregon</option>
                  <option value="PA">Pennsylvania</option>
                  <option value="RI">Rhode Island</option>
                  <option value="SC">South Carolina</option>
                  <option value="SD">South Dakota</option>
                  <option value="TN">Tennessee</option>
                  <option value="TX">Texas</option>
                  <option value="UT">Utah</option>
                  <option value="VT">Vermont</option>
                  <option value="VA">Virginia</option>
                  <option value="WA">Washington</option>
                  <option value="WV">West Virginia</option>
                  <option value="WI">Wisconsin</option>
                  <option value="WY">Wyoming</option>
                </select>

              </div>
              <br>

            </form>
            {{!-- <button id="resetSearch" href="/vendor/{{vendorInfo.vendor.vendorid}}" --}}
            {{!-- class="btn btn-primary float-right">Reset</button> --}}
            {{!-- </div> --}}


            {{!-- Available Event Data --}}
            <thead class="thead-light">
              <tr>
                <th>EVENT</th>
                <th>LOCATION</th>
                <th>OCCASION</th>
                <th>SIZE</th>
                <th></th>
                <th></th>

              </tr>
            </thead>
            <tbody>
              {{#each available.events}}
              <tr>
                <td>{{ this.name }}</td>
                <td> {{ this.city }} , {{ this.state }}</td>
                <td> {{ this.occasion }} </td>
                <td> {{ this.size }} </td>
                <td>
                  <button class="btn btn-primary moreInfoBtn" data-id="{{this.eventid}}">More
                    Info</button>
                </td>
                <td>
                  <button class="btn btn-primary vendorAcceptBtn" event-id="{{ this.eventid }}"
                    vendor-id="{{ this.vendorid }}">Accept</button>
                </td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div  style="margin-bottom: 20px; margin-left: 25px; "class="col-lg-12">
      <a href="/logout">
        <button id="cookie" href="/logout" class="btn btn-outline-light custuser">Log Out</button>
      </a>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="/js/vendor-home.js"></script>